.header-bg{
    background: rgba(0, 0, 0, 0.864);
    height: min-content;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 10px 0px black;
}

.header-bg span{
    color: white;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 2em;
}

.header{
    padding: 0;
    background-color: rgba(42, 87, 221, 0.591);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 20%;
    border-radius: 30%;
    color: white;
    box-shadow: 1px 2px 3px 0px black;
    text-shadow: 1px 1px 5px rgb(226, 43, 223);
}

.header img {
    width: 5em;
    height: 5em;
}
.header h1 {
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.header h2 {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

footer{
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.864);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: 200;
    padding: 30px;
    text-align: center;
}