<div class="solicitud-content" *ngIf="solicitudGenerada; else noContent">
    <div class="solicitud-title">
        <img src="../../../assets/congratulatios.png" alt="">
        <h1>{{solicitudGenerada.idClienteNavigation.nombreCompleto}}</h1>
    </div>
    <div class="solicitud-body">
        <h2>Eres acequible ala tarjeta:</h2>
        <span>{{solicitudGenerada.idTarjetaCreditoNavigation.descripcion}}</span>
        <label for="">Caracteristicas de la tarjeta:</label>
        <ol>
            <li>Tasa de interes: {{solicitudGenerada.idTarjetaCreditoNavigation.tasaInteresAnual}}%</li>
            <li>Limite credicticio: ${{solicitudGenerada.idTarjetaCreditoNavigation.limiteCredito}}</li>
            <li>Ingreso acumulable minimo: ${{solicitudGenerada.idTarjetaCreditoNavigation.minIngresoAcumulable}}</li>
        </ol>
        <button (click)="ejecutarPrueba()" class="blue-button">Ejecutar prueba de credito</button>
    </div>
</div>
<ng-template #noContent>
    <h1>Cargando datos...</h1>
</ng-template>